/* STAR */
.star-title{
  margin: 0;
  margin-bottom: 16px;
}

.star-label{
  display: block;
}

.star-label:not(:last-child){
  margin-bottom: 12px;
}

.star-input{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.star-img{
  padding-left: 30px;
  flex-shrink: 0;
}

.star-span{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../../img/icon/checkbox-off.svg");
}

.star-input:checked + .star-span{
  background-image: url("../../img/icon/checkbox-on.svg");
}

